.card{
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    background-color: #ccc;
    width: 220px;
    height: 100%;
    padding: 10px;
    padding-bottom: 0px;
}
.card .img{
    width: 100%;
    height: 60%;
    background-color: rgb(185, 176, 176);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.card .img img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}
.card .desc{
    padding: 5px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.card .desc p:nth-child(2){
    font-size: .8rem;
    color:gray;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
}
.card .prix span:first-child{
    color: brown;
}
.card span span {
    color: #888;
    text-decoration: dashed;
}
.card p{
    font-size: 1rem;
    color: #000;
    font-weight: bold;
}
.card .prix{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.card .rate{
    color: #ffd215;
}
.card .footer1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25px;
}
.card .footer1 i{
    color: black;
    font-size: 1.4rem;
}
.card .footer1 button{
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 75%;
    border-radius: 6px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}
