.footer{
    background-image: none;
    /*background-color: #adb2c2 ;*/
    background-color: black;
    padding: 30px 5%;
}
.footer .grid{
    display: grid;
    grid-template-columns:repeat(2,.8fr) repeat(2,1fr);
    grid-auto-rows: auto;
    gap: 3%;
}
.footer .grid .box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer .grid .box input{
    height: 32px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.footer .grid .box h3{
    line-height: 2;
    color: white;
}
.footer .grid .box .a{
    color: var(--primaryColor2);
    line-height: 1.6;
}
.footer .grid .box .sub{
    margin-top: 10px;
}
.footer .grid .box .sub .a{
    background-color: #227ab4;
    padding: 7px;
    border-radius: 5px;
    color: white;
    height: 30px;
}
.footer .grid .box .sub .a:hover{
    background-color: white;
    color: var(--primaryColor1);
    border: 1px solid var(--primaryColor1);
}
.footer .grid .box p{
    color: var(--primaryColor2);
    line-height: 1.6;
    text-align: center;
}
.footer .grid .box .links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px 0px;
    width: 65%;
}
.footer .grid .link .a i{
    font-size: 35px;
    color: white; 
}
.footer .grid .link:first-child .a i:hover{
    color:#7bff55 ;
}
.footer .grid .link:nth-child(2) .a i:hover{
    color:#ff2a15 ;
}
.footer .grid .link:nth-child(3) .a i:hover{
    color:#2babff ;
}
.footer .copyright{
    color:var(--primaryColor2);
    border-top: 1px solid var(--primaryColor2);
    margin-top: 35px;
    padding-top: 5px;
}
@media(max-width:767px){
    .footer{
        padding: 0px 5% 60px;
    }
    .footer .grid{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start; 
            
    }
    .footer .grid .box{
        margin-top: 20px;
        border-top: 1px solid #999;  
        align-items: center;   
        width: 100%;
        height: 100%;   
    }
    .footer .grid .box:first-child{
        border: none;
    }
    .footer .form{
        display: flex;
        flex-direction: column;
        flex-wrap:wrap ;
        justify-content: space-between;
        
    }
    .footer .grid .box h3,.footer .grid .box .a{
        align-self: flex-start;
    }
    .footer .grid .box input{
    height: 32px;
    width: 55%;
    border-radius: 3px;
    padding: 5px;
    }
}
